@font-face {
  font-family: DidactGothic;
  src: url('../fonts/DidactGothic.ttf');
}
html, body {
  font-family: 'DidactGothic', Arial, Helvetica, sans-serif;
  height: 100%;
}
body > .container-fluid {
  height: auto;
  min-height: 100%;
  background: #e9ece5;
}
.page-header {
  border-bottom: solid 1px #777;
}

/* Header */
.header {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
  background: #3b3a36;
}
.header .navbar-brand {
  color: #fff;
}
.header .navbar-brand:hover,
.navbar-default .navbar-nav li a:hover {
  color: #777;
}
.navbar-default .navbar-nav li a {
  color: #fff;
}

/* Forms */
form {
  width: 35%;
  margin: 0 auto;
}
.topup-form {
  width: 37%;
}
.buy-package-form {
  width: 50%;
}
.errorlist,
.errorlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f00;
  font-size: 90%;
}
.create-account-form .errorlist {
  text-align: right;
  margin-right: 1em;
  margin-bottom: .2em;
}
.login-form p {
  margin-top: 1em;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
}
.messages li.success {
  color: green;
}
.messages {
  list-style: none;
  background: #fff;
  font-weight: bold;
}
.messages li {
  padding: .5em 0 .5em .5em;
}

/* Main */
.main {
  margin-top: 2.5em;
}
.table-bordered,
.table-bordered thead tr th,
.table-bordered tbody tr td {
  border: solid 1px #aaa;
}
.table-bordered thead tr th {
  border-bottom-width: 2px;
}
table form {
  width: 100%;
}
.balance {
  color: green;
  font-weight: bold;
}

/* Dashboard */
.welcome {
  margin-top: 15px;
}

/* View Users */
.paginate-by {
  text-align: right;
}
.search-form {
  display: inline-block;
  margin: 20px 0;
}
.indicator {
  display: block;
  margin: .3em 0 0 1em;
  cursor: default;
}
.indicator-offline {
  color: #CDCDCD;
}
.indicator-online {
  color: #4DBD33;
}

/* Footer */
.footer {
  background: #b3c2bf;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}
