/* Header */
.header {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.header .navbar-brand {
  color: #000;
}

/* Forms */
form {
  width: 35%;
  margin: 0 auto;
}
.buy-package-form {
  width: 50%;
}
.errorlist,
.errorlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f00;
  font-size: 90%;
}
.create-account-form .errorlist {
  text-align: right;
  margin-right: 1em;
  margin-bottom: .2em;
}
.login-form p {
  margin-top: 1em;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
}
.messages li.success {
  color: green;
}
.messages {
  list-style: none;
  background: #e7e7e7;
  font-weight: bold;
}
.messages li {
  padding: .5em 0 .5em .5em;
}

/* Main */
.main {
  margin-top: 2.5em;
}
.balance {
  color: green;
  font-weight: bold;
}

/* Dashboard */
.welcome {
  background: #fff;
}
