body {
  color: gray;
}
body,
form,
form input {
  font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.layout-transparent {
  background: url('../images/create_bg.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: gray;
}
.auth-form-container {
  text-align: center;
}
.auth-form-container h4 {
  text-align: left;
  margin-left: 2.2em;
}
.form-actions {
  text-align: right;
  margin-top: 1em;
  margin-right: 3.2em;
}
.form-actions button {
  margin-bottom: 1em;
}
.form-actions p {
  margin-bottom: 0;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {
  border-bottom: solid 1px #fff;
}
form select {
  width: 74%;
  margin: 2em 0 1em 3.3em;
  font: inherit;
  height: 30px;
  display: block;
  border:1px solid #ccc;
}
.errorlist {
  font-size: 10px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-right: 5.2em;
  list-style: none;
  text-align: right;
  color: red;
}
.mdl-textfield__error {
  display: block;
}
