body {
  color: gray;
}
/* form {
  margin: 0 auto;
  width: 30%;
  margin-top: 5%;
}

form label {
  display: none;
}

form a {
  display: block;
  text-align: right;
} */

.layout-transparent {
  background: url('../images/create_bg.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: gray;
}
.auth-form-container {
  text-align: center;
}
.auth-form-container button {
  margin-left: 11em;
}
input[type='text'],
input[type='password'],
input[type='email'] {
  border-bottom: solid 1px #fff;
}
.auth-form-container h4 {
  text-align: left;
  margin-left: 2.2em;
}
