{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}Add Users{% endblock %}

{% block body %}
<main class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form action="" method="post">

        {% csrf_token %}

        <div class="form-heading">
          <h4>Create New User Account</h4>
        </div>

        {{ single_user_form.non_field_errors }}

        <div>
          {{ single_user_form.first_name.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ single_user_form.first_name }}
            <label class="mdl-textfield__label" for="id_first_name">
              {{ single_user_form.first_name.label }}
            </label>
            <span class="mdl-textfield__error">Names can not contain numbers!</span>
          </div>
        </div>

        <div>
          {{ single_user_form.last_name.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ single_user_form.last_name }}
            <label class="mdl-textfield__label" for="id_last_name">
              {{ single_user_form.last_name.label }}
            </label>
            <span class="mdl-textfield__error">Names can not contain numbers!</span>
          </div>
        </div>

        <div>
          {{ single_user_form.username.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ single_user_form.username }}
            <label class="mdl-textfield__label" for="id_username">
              {{ single_user_form.username.label }}
            </label>
          </div>
        </div>

        <div>
          {{ single_user_form.password.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ single_user_form.password }}
            <label class="mdl-textfield__label" for="id_password">
              {{ single_user_form.password.label }}
            </label>
          </div>
        </div>

        <div>
          {{ single_user_form.confirm_password.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ single_user_form.confirm_password }}
            <label class="mdl-textfield__label" for="id_confirm_password">
              {{ single_user_form.confirm_password.label }}
            </label>
          </div>
        </div>

        <div>
          {{ single_user_form.country.errors }}
          {{ single_user_form.country }}
        </div>

        <div>
          {{ single_user_form.phone_number.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ single_user_form.phone_number }}
            <label class="mdl-textfield__label" for="id_phone_number">
              {{ single_user_form.phone_number.label }}
            </label>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              Create Account
          </button>
        </div>
      </form>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <form action="{% url 'accounts:add_bulk_users' %}" method="post">

        {% csrf_token %}

        <div class="form-heading">
          <h4>Upload List of Users</h4>
        </div>

        {{ bulk_user_form.non_field_errors }}

        <div>
          {{ bulk_user_form.user_list.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ bulk_user_form.user_list }}
          </div>
        </div>

        <div class="form-actions">
          <button type="submit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              Upload
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
