{% extends 'base.html' %}

{% block title %}Create Password{% endblock %}

{% block app_body %}
<div class="row main">
  <form method="post" action="" class="">
    <fieldset>
      <div class="page-header">
        <h2>{% block form_header %}Create Password{% endblock %}</h2>
      </div>
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.new_password1.errors }}
        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
      </div>

      <div class="form-group">
        {{ form.new_password2.errors }}
        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
      </div>

      <button type="submit" class="btn btn-primary">Create Password</button>
      
    </fieldset>
  </form>
</div>
{% endblock %}