{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<main class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      {% if user.first_name %}
        Welcome {{ user.first_name }}
      {% else %}
        Welcome {{ user.username }}
      {% endif %}

      {% if not verified %}
        <p>Please verify your account. Can't find verification mail? <a href="{% url 'resend_mail' %}">Resend</a>.</p>
      {% endif %}

      {% if request.user.subscriber.group == None %}
        <ul>
          <li><a href="">Set up payment options</a></li>
          <li><a href="">Top up account</a></li>
          <li><a href="">Purchase Service Package</a></li>
        </ul>
      {% else %}
        <p>Group Member</p>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
