{% extends 'accounts/user_list.html' %}

{% load staticfiles %}

{% block title %}Edit User{% endblock %}

{% block app_body %}

<div class="row">
  <form action="" method="post">
    <fieldset>
      <div class="page-header">
        <h2>Edit User</h2>
      </div>
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.first_name.errors }}
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{ form.first_name }}
      </div>

      <div class="form-group">
        {{ form.last_name.errors }}
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        {{ form.last_name }}
      </div>

      <div class="form-group">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
      </div>

      <div class="form-group">
        {{ form.phone_number.errors }}
        <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
        {{ form.phone_number }}
      </div>

      <button type="submit" class="btn btn-primary">Save</button>

    </fieldset>
  </form>
</div>
{% endblock %}
