{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Create Account{% endblock %}

{% block header %}
<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <a href="{% url 'index' %}"><img src="{% static 'images/spectra_logo.png' %}"></a>
    </span>
  </div>
</header>
{% endblock %}

{% block main %}
<main class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
      {% block auth_form %}
      <form action="" method="post">

        {% csrf_token %}

        <div class="form-heading">
          <h4>Create Account</h4>
        </div>

        {{ form.non_field_errors }}

        <div>
          {{ form.first_name.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.first_name }}
            <label class="mdl-textfield__label" for="id_first_name">
              {{ form.first_name.label }}
            </label>
            <span class="mdl-textfield__error">Names can not contain numbers!</span>
          </div>
        </div>

        <div>
          {{ form.last_name.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.last_name }}
            <label class="mdl-textfield__label" for="id_last_name">
              {{ form.last_name.label }}
            </label>
            <span class="mdl-textfield__error">Names can not contain numbers!</span>
          </div>
        </div>

        <div>
          {{ form.username.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.username }}
            <label class="mdl-textfield__label" for="id_username">
              {{ form.username.label }}
            </label>
          </div>
        </div>

        <div>
          {{ form.password.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.password }}
            <label class="mdl-textfield__label" for="id_password">
              {{ form.password.label }}
            </label>
          </div>
        </div>

        <div>
          {{ form.confirm_password.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.confirm_password }}
            <label class="mdl-textfield__label" for="id_confirm_password">
              {{ form.confirm_password.label }}
            </label>
          </div>
        </div>

        <div>
          {{ form.country.errors }}
          {{ form.country }}
        </div>

        <div>
          {{ form.phone_number.errors }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.phone_number }}
            <label class="mdl-textfield__label" for="id_phone_number">
              {{ form.phone_number.label }}
            </label>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              Create Account
          </button>
        </div>
      </form>
      {% endblock %}
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
  </div>
</main>
{% endblock %}
