{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block nav_items %}
  <ul class="nav navbar-nav">
  {% with urlname=request.resolver_match.url_name %}
    <li {% if urlname == 'index' %}class="active"{% endif %}>
      <a href="{% url 'index' %}">
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
        Dashboard 
        {% if urlname == 'index' %}
          <span class="sr-only">(current)</span></a>
        {% endif %}
      </a>
    </li>
    {% if user.subscriber.group == None %}
      <!-- <li>
        <a href="#">
          <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
          Payment Options 
        </a>
      </li> -->
      <li {% if urlname == 'recharge_account' %}class="active"{% endif %}>
        <a href="{% url 'accounts:recharge_account' %}">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          Topup Account 
          {% if urlname == 'recharge_account' %}
            <span class="sr-only">(current)</span></a>
          {% endif %}
        </a>
      </li>
      <li {% if urlname == 'buy' %}class="active"{% endif %}>
        <a href="{% url 'packages:buy' %}">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          Buy Package 
          {% if urlname == 'buy' %}
            <span class="sr-only">(current)</span></a>
          {% endif %}
        </a>
      </li>
    {% elif user.subscriber.is_group_admin %}
      <li {% if urlname == 'users' %}class="active"{% endif %}>
        <a href="{% url 'accounts:users' %}">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          View Users 
          {% if urlname == 'users' %}
            <span class="sr-only">(current)</span></a>
          {% endif %}
        </a>
      </li>
      <li {% if urlname == 'add_user' %}class="active"{% endif %}>
        <a href="{% url 'accounts:add_user' %}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add User 
          {% if urlname == 'add_user' %}
            <span class="sr-only">(current)</span></a>
          {% endif %}
        </a>
      </li>
      <li {% if urlname == 'upload_user_list' %}class="active"{% endif %}>
        <a href="{% url 'accounts:upload_user_list' %}">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          Upload User List 
          {% if urlname == 'upload_user_list' %}
            <span class="sr-only">(current)</span></a>
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endwith %}
  </ul>

  <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'accounts:logout' %}">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              Logout
            </a>
          </li>
        </ul>
      </li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
{% endblock %}







{% block app_body %}
<div class="row main">
  <div class="welcome">
    <div class="col-lg-9">
      <!--- {% if not verified %}
        <div class="panel panel-default">
          <div class="panel-body">
            Welcome {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}. Please verify your account. <a class="btn btn-primary btn-xs pull-right" href="{% url 'resend_mail' %}">Resend verification mail</a>
          </div>
        </div>
      {% endif %} -->

      {% if active_subscription %}
        <div class="page-header">
          <h2>Active Subscription</h2>
        </div>
        <table class="table table-condensed table-striped">
          {% include 'accounts/_table_header.html' %}
          <tbody>
            <tr>
              <td>{{ active_subscription.package }}</td>
              <td>{{ active_subscription.purchase_date }}</td>
              <td>{{ active_subscription.start }}</td>
              <td>{{ active_subscription.stop }}</td>
            </tr>
          </tbody>
        </table>
      {% else %}
        <p>You do not have an active subscription. {% if user.subscriber.group == None %}<a href="{% url 'packages:buy' %}">Buy Package</a>.{% endif %}</p>
      {% endif %}

      {% if unused_subscriptions %}
        <div class="page-header">
          <h2>Unused Subscriptions</h2>
        </div>
        <table class="table table-condensed table-striped">
          {% include 'accounts/_table_header.html' %}
          <tbody>
            {% for s in unused_subscriptions %}
              <tr>
                <td>{{ s.package }}</td>
                <td>{{ s.purchase_date }}</td>
                <td>{{ s.start }}</td>
                <td>{{ s.stop }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% if expired_subscriptions %}
        <div class="page-header">
          <h2>Package Subscription History</h2>
        </div>
        <table class="table table-condensed table-striped">
          {% include 'accounts/_table_header.html' %}
          <tbody>
            {% for s in expired_subscriptions %}
              <tr>
                <td>{{ s.package }}</td>
                <td>{{ s.purchase_date }}</td>
                <td>{{ s.start }}</td>
                <td>{{ s.stop }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="col-lg-3">
      <div class="balance-pane">
        Data Balance<br>
        <span>
          {% if user.subscriber.group == None %}
            {% if subscription_is_unlimited %}
              Unlimited
            {% else %}
              {{ user.radcheck.data_balance }} GB
            {% endif %}
          {% else %}
            {% if subscription_is_unlimited %}
              Unlimited
            {% else %}
              {{ user.subscriber.group.data_balance }} GB
            {% endif %}
          {% endif %}
        </span>
      </div>
      {% if user.subscriber.group == None %}
        <div class="cash balance-pane">
          Cash Balance<br>
          <span>
            {% with balance=user.radcheck.rechargeandusage_set.all.0.balance %}
              {% if balance %}
                {{ user.radcheck.rechargeandusage_set.all.0.balance }}
              {% else %}
                0
              {% endif %} GHS
            {% endwith %}
          </span>
        </div>
      {% endif %}
      {% if logout_url %}
	<a class="btn btn-primary end-session" role="button" href="{{ logout_url }}">End Browsing Session</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
