{% extends 'accounts/index.html' %}

{% load staticfiles %}

{% block title %}Email Sent{% endblock %}

{% block main %}
<main class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col">
      <h4>Password Reset Email Sent</h4>
      <p>
        We've emailed you instructions for setting your password, if
        an account exists with the email you entered. You should receive them shortly.
      </p>

      <p>
        If you don't receive an email, please make sure you've entered
        the address you registered with, and check your spam folder.
      </p>
    </div>
  </div>
</main>
{% endblock %}
