{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Password Reset{% endblock %}

{% block app_body %}
<div class="row main">
    <div class="col-sm-12">
        <div class="well">
            <h4>{% block header %}Password reset complete{% endblock %}</h4>
            <p>
                {% block action_message %}Your password has been reset.{% endblock %}
                You may <a href="{% url 'accounts:login' %}">manage your account</a> 
                {% if not captive_url %}
                    or reconnect to the WiFi network to log in with your new password.
                {% else %}
                    <a href="{{ captive_url }}">log in to browse</a> now.
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
