{% extends 'accounts/index.html' %}

{% load staticfiles %}

{% block title %}Confirm Password Reset{% endblock %}

{% block auth_form %}
<div class="form-heading">
  <h3>Enter new password</h3>
  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
</div>
<form method="post" action="">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.new_password1.errors }}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.new_password1 }}
    <label class="mdl-textfield__label" for="id_email">
      {{ form.new_password1.label }}
    </label>
  </div>

  {{ form.new_password2.errors }}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.new_password2 }}
    <label class="mdl-textfield__label" for="id_email">
      {{ form.new_password2.label }}
    </label>
  </div>

  <div class="form-actions">
    <button type="submit"
      class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Change My Password
    </button>
  </div>
</form>
{% endblock %}
