{% extends 'accounts/dashboard.html' %}

{% load staticfiles %}

{% block title %}Recharge Account{% endblock %}

{% block links %}
<li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
<li><a href="#">Payment Options</a></li>
<li class="active"><a href="{% url 'accounts:recharge_account' %}">Topup Account <span class="sr-only">(current)</span></a></li>
<li><a href="{% url 'accounts:buy_package' %}">Buy Package</a></li>
{% endblock %}

{% block app_body %}
<div class="row main">
  <form action="" method="post" class="topup-form">
    <fieldset>
      <!-- <legend>Topup Account</legend> -->
      <div class="page-header">
        <h2>Topup Account 
          <small>
            {% with balance=user.radcheck.rechargeandusage_set.all.0.balance %}
            Balance &mdash; <span class="balance">{% if balance %}{{ user.radcheck.rechargeandusage_set.all.0.balance }}{% else %}0{% endif %} GHS</span>
            {% endwith %}
          </small>
        </h2>
      </div>
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.pin.errors }}
        <label for="{{ form.pin.id_for_label }}">{{ form.pin.label }}</label>
        {{ form.pin }}
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>
{% endblock %}
