{% extends 'accounts/user_list.html' %}

{% load staticfiles %}

{% block title %}Upload User List{% endblock %}

{% block app_body %}
<form action="" method="post" enctype="multipart/form-data">
  <fieldset>
    <div class="page-header">
      <h1>Upload User List</h1>
    </div>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <ul class="help-block">
      <li>User list must be in .csv format and can contain a maximum of {{ file_length }} entries.</li>
      <li>Each entry in the list should contain first name, last name and email address separated by commas.</li>
      <li>Ensure there are no spaces between words or lines.</li>
    </ul>

    <div class="form-group">
      {{ form.user_list.errors }}
      <label for="{{ form.user_list.id_for_label }}">{{ form.user_list.label }}</label>
      {{ form.user_list }}
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
  </fieldset>
</form>
{% endblock %}
