{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}View Users{% endblock %}

{% block body %}
<main class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <h4>Users in {{ request.user.subscriber.group }} Group</h4>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <ul>
      {% if users %}
        {% for user in users %}
          <li>
            <form action="{% url 'accounts:toggle_status' pk=user.pk %}" method="post">

              {% csrf_token %}

              {% if user.is_active %}
                <button type="submit">Deactivate</button>
                <span><a href="{% url 'accounts:edit_user' pk=user.pk %}">{{ user.email }}</a></span>
              {% else %}
                <button type="submit">Activate</button>
                <span style="text-decoration: line-through"><a href="{% url 'accounts:edit_user' pk=user.pk %}">{{ user.email }}</a></span>
              {% endif %}
            </form>
          </li>
        {% endfor %}
      {% else %}
        <p>There are no users in this group.</p>
      {% endif %}
      </ul>
    </div>
  </div>
</main>
{% endblock %}
