{% extends 'accounts/dashboard.html' %}

{% block title %}{{ user.subscriber.group.name }} Users{% endblock %}

{% block app_body %}
{% if users %}
  <div class="row">
    <div class="col-md-6">
      <form class="search-form" action="{% url 'search' %}" method="get">
        <div class="input-group">
          <input type="text" class="form-control" name="q" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-6 paginate-by">
      {% block paginate_by %}
        <ul class="pagination">
          <li>
            <span>Show up to</span>
          </li>
          <li><a href="?paginate_by=5">5</a></li>
          <li><a href="?paginate_by=10">10</a></li>
          <li><a href="?paginate_by=20">20</a></li>
          <li><a href="?paginate_by=25">25</a></li>
          <li>
            <span>items</span>
          </li>
        </ul>
      {% endblock %}
    </div>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Date Created</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        </tr>
          <td>{{ user.pk }}</td>
          <td><a href="{% url 'accounts:edit_user' pk=user.pk %}">{{ user.username }}</a></td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.date_joined }}</td>
          <td>
            <form action="{% url 'accounts:toggle_status' pk=user.pk %}" method="post">
              {% csrf_token %}
              {% if user.is_active %}
                <button type="submit" class="btn btn-xs btn-danger">Deactivate</button>
              {% else %}
                <button type="submit" class="btn btn-xs btn-primary">Activate</button>
              {% endif %}
            </form>
          </td>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="row">
    <div class="col-sm-12 main">
      <p class="well">
        There are no users in this group.
        <a href="{% url 'accounts:add_user' %}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add User
        </a>
        <a href="{% url 'accounts:upload_user_list' %}">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          Upload User List
        </a>
      </p>
    </div>
  </div>
{% endif %}

<nav>
  <ul class="pager">
  {% if users.has_previous %}
    <li class="previous">
      <a href="?page={{ users.previous_page_number }}&paginate_by={{ paginate_by }}">
        <span aria-hidden="true">&larr;</span> Previous
      </a>
    </li>
  {% endif %}
  {% if users.has_next %}
    <li class="next">
      <a href="?page={{ users.next_page_number }}&paginate_by={{ paginate_by }}">
        Next <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>
{% endblock %}
