body {
  background: url('images/create_bg.jpg') no-repeat;
}

form {
  margin: 0 auto;
  width: 30%;
  margin-top: 15%;
}

form label {
  display: none;
}

form a {
  display: block;
  text-align: right;
}
