<!DOCTYPE HTML>
<html>
  <head>
    <title>Spectra Wireless &mdash; {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-default header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="billing-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'accounts:dashboard' %}">Spectra Wireless Billing</a>
        </div>

        <div class="collapse navbar-collapse" id="billing-navbar-collapse">
        {% block nav_items %}
        {% endblock %}
        </div>

      </div>
    </nav>

    <div class="container-fluid">
      <div class="row main">
      {% block app_body %}
      {% endblock %}
      </div>
    </div>

  </body>
</html>
