<!DOCTYPE html><html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=yes" /><link rel="stylesheet" type="text/css" href="../ga_style.css" /></head><body><div class="login-card"><title>Welcome to Cambium Powered Hotspot</title><h1>Welcome to Cambium Powered Hotspot</h1><p>Please enter username and password to get web access</p>

<form name="LoginPage" id="LoginPage" action="JavaScript:handleLogin()" method="POST">
    <input type="text" placeholder="Username" name="ga_user">
    <input type="password" placeholder="Password" name="ga_pass">
    <input type="submit" class="btn1" value="Login">
    <div id='errmsg'></div>
</form>

<script>function getParameterByName(name) {
    name = name.replace(/[\\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
error_code = getParameterByName("ga_error_code");
var elem = document.getElementById('errmsg');
if (error_code == "timeout") {
   elem.innerHTML = '<font color=red>Authentication server failed to respond, retry again in few minutes</font>';
} else if (error_code == "reject") {
   elem.innerHTML = '<font color=red>The username or password you entered is incorrect</font>';
} else if (error_code == "not-found") {
   elem.innerHTML = '<font color=red>The authentication server not available, contact network admin</font>';
} else {
   elem.innerHTML = '';
}
<!--
if (document.getElementById) {
    document.writeln('<style type="text/css"><!--')
    document.writeln('.texter {display:none} @media print {.texter {display:block;}}')
    document.writeln('//--></style>')
}
function openClose(theID) {
   if (document.getElementById(theID).style.display == "block") { document.getElementById(theID).style.display = "none" }
   else { document.getElementById(theID).style.display = "block" }
}
function handleLogin() {
document.getElementById("LoginPage").action = "http://10.8.0.40:880/cgi-bin/hotspot_login.cgi" + "?" + window.location.search.substr(1);
document.getElementById("LoginPage").submit();
}
// -->
</script>
</body></html>